# Entorno virtual
venv/
env/
.venv/

# Variables de entorno (NUNCA subir esto)
.env

# Base de datos local
db.sqlite3
*.sqlite3

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
staticfiles/
media/
*.log

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp
